# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
*.env

# Django stuff
db.sqlite3
media/
staticfiles/

# VSCode and system files
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log
